@import "start-bar.css";
@import "main-contents.css";
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import  "music-profile.css";
@import  "playing-bar.css";

* {
    box-sizing: border-box;
  }
p {
    font-family: 'Homemade Apple', cursive;
}
html {
    background-color: #F6F6F6;
}
body {
    width: 900px;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}
.main-screen {
    width: 35%;
    height: 90vh;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 5px 9px rgb(203, 203, 203);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.options {
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 8px;
    margin-bottom: 20px;
}
.options__shuffle {
    width: 40%;
    height: 95%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 19px;
    box-shadow: 0px 2px 3px rgb(203, 203, 203);
}
.options__shuffle__text {
    color: white;
    font-size: 12px;
}
.options__like {
    width: 40%;
    height: 95%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 19px;
    box-shadow: 0px 2px 3px rgb(203, 203, 203);
}
.options__like__text {
    color: rgb(162, 162, 162);
}
.music-list {
    width: 90%;
    height: 45%;
    overflow-y: scroll;
    scrollbar-width: none;
}
.music-list__choice {
    box-shadow: 2px 2px 3px rgb(203, 203, 203);
}
.now-playing {
    position: absolute;
    bottom: 40px;
    width: 95%;
    height: 60px;
    background-color: black;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 35px;
}.color-white {
    color: white;
}
.elements-singer2 {
    font-size: 3px;
    color: rgb(162, 162, 162);
    margin-bottom: 10px;
}
.icon-mag {
    margin-left: 20px;
}
.playing-icons {
    width: 90%;
    height: 17%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.playing-icons__num:nth-child(4n+1) {
    color: gray;
}
.playing-icons__circle {
    box-shadow: 2px 2px 3px rgb(203, 203, 203);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(37, 31, 37);
    display: flex;
    justify-content: center;
    align-items: center;
}
.playing-icons__circle__in {
    color: white;
}